body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
}

/* ボタン */
button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 4px;
  border: none;
  font-size: 1em;
}

/* リスト(ボタン用) */
ul {
  margin: 4px 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0 4px;
  display: inline;
}

/* ディスプレイ部分 */
.calc-disp {
  width: 288px;
  margin: 0 auto;
  padding: 32px 16px;
  background: #333;
  text-align: right;
  color: #efefef;
  font-size: 3em;
}

/* ボタン共通部分 */
.calc-btns {
  width: 288px;
  margin: 0 auto;
  padding: 16px 12px;
}

/* 数字ボタン */
.num {
  background: #999;
  color: #efefef;
}

button.num:active {
  background: #888;
}

/* 演算子、操作系ボタン */
.ope, .ctrl {
  background: #ffa500;
  color: #333;
}

button.ope:active, button.ctrl:active {
  background: #f59b00;
}